header {
    min-height: 300px;
    background-color: rgba(15, 131, 232, 0.47);
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    min-width: 100svw;

    transition: all .5s;
}

.logo {
    margin: auto;
}

.title h1 {
    text-wrap: wrap;
}