body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    height: 150rem;
    position: relative;
    display: flex;
    align-items: center;
}

.page {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    opacity: 0;
    transition: opacity .5s;



    /* border: 1px solid red; */
}

.page1 {
    opacity: 1;
}

.slide {
    margin: 30px 10%;
    padding: 10px;
    max-width: 400px;
}

.slide:nth-child(odd) {
    text-align: end;
    align-self: flex-end;
}

/* .slide .visible {
    opacity: 1;
} */

p {
    font-weight: 500;
    font-style: bold;
}